<?xml version="1.0" encoding="UTF-8"?>
<MENú_RESTAURANTE>

<PLATO category="ENTRANTE"> >
    <name>ensalada mixta</name>
    <price>4</price>
    <ingredientes>lechuga</ingredientes>
   <ingredientes>tomate</ingredientes>
   <ingredientes>zanahoria</ingredientes>
   <ingredientes>atun</ingredientes>


</PLATO>

<PLATO category="ENTRANTE"> 
    <name>ensalada de pasta</name>
    <price>6</price>
    <ingredientes>macarrones</ingredientes>
   <ingredientes>tomate</ingredientes>
   <ingredientes>natural</ingredientes>
   <ingredientes>atun</ingredientes>
    <ingredientes>queso</ingredientes>


   
</PLATO>

<PLATO category="ENTRANTE" >
    <name>sopa de marisco</name>
    <price>9</price>
    <ingredientes>
      <ingredientes>patatas</ingredientes>
   <ingredientes>rape</ingredientes>
   <ingredientes> almejas</ingredientes>
   <ingredientes>  mejillones</ingredientes>
    <ingredientes> arroz</ingredientes>
    <ingredientes> gambas</ingredientes>


</PLATO>

<PLATO category="PRINCIPAL"> 
    <name>filetes de rosada a la plancha con patatas cocidas</name>
    <price>12</price>
    <ingredientes> filetes de rosada fresca </ingredientes>
     <ingredientes>  patata cocida con perejil</ingredientes>
</PLATO>

<PLATO category="PRINCIPAL"> 
    <name>solomillo de cerdo con salsa roquefort</name>
    <price>18</price>
    <ingredientes> filetes de cerdo iberico </ingredientes>
     <ingredientes>  patatas fritas</ingredientes>
      <ingredientes>  salsa roquefort</ingredientes>
</PLATO>

<PLATO category="PRINCIPAL"> 
    <name>paella de marisco</name>
    <price>14</price>
    <ingredientes> arroz </ingredientes>
    <ingredientes> gambas</ingredientes>
     <ingredientes> almejas</ingredientes>
    <ingredientes> mejillones</ingredientes>
    <ingredientes> carne de cerdo</ingredientes>
     <ingredientes> sofrito de verduras</ingredientes>
 
</PLATO>

<PLATO category="POSTRE"> 
    <name>tarta de queso</name>
    <price>8</price>


    <ingredientes> tarta de queso casera con mermelada de fresa y nata </ingredientes>
</PLATO>

<PLATO category="POSTRE"> 
    <name>mecedonia de frutas</name>
    <price>5</price>
    <ingredientes> trozitos de fruta fresca cortada en rodajas </ingredientes>
</PLATO>

<PLATO category="POSTRE"> 
    <name>helado de vainilla</name>
    <price>4</price>
    <ingredientes>  helado de vainilla hecho a mano con un toque de sabor de nuestro chef  </ingredientes>
</PLATO>

<imagen enlace="C:\Users\Piyi\Desktop\sprint3\xmlsprint4\Captura de pantalla 2022-01-24 180442.png"></imagen>

</MENú_RESTAURANTE>